@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.homeSwiper .swiper-pagination-bullet{
    background: #ffffff;
    opacity: 1;
}
.homeSwiper .swiper-pagination-bullet-active {
    background: transparent;
    border: 1px solid #ffffff;
}
.ProductSwiper .swiper-button-next{
    position: absolute;
    background: url(./assets/left_double.png)no-repeat center;
    background-size: contain;
    height: 70px;
    width: 70px;
    top: 45%;
    left: -10px;
    right: auto;
    transform: translateY(-55%);
    margin-top: 0px;
} 
.ProductSwiper .swiper-button-prev{
    position: absolute;
    background: url(./assets/right_double.png)no-repeat center;
    background-size: contain;
    height: 70px;
    width: 70px;
    top: 45%;
    right: -10px;
    left: auto;
    transform: translateY(-55%);
    margin-top: 0px;
}
.ProductSwiper .swiper-button-next:after, .ProductSwiper .swiper-button-prev:after{
    display: none !important;
}
.onlineSwiper .swiper-pagination-bullet{
    background: #A7A7A7;
    opacity: 1;
}
.onlineSwiper .swiper-pagination-bullet-active {
    background: #ffffff;
    border: 1px solid #A7A7A7;
}
.border-0 {
    border-width: 0px !important;
}

@media screen and (max-width:1024px){
    .h-screen{
        height: 60vh !important;
    }
}
@media screen and (max-width:991px){
    .h-screen{
        height: 50vh !important;
    }
}
@media screen and (max-width:767px){
    .h-screen{
        height: 80vh !important;
    }
}
@media screen and (max-width:575px){
    .h-screen{
        height: 50vh !important;
    }
}